@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body{
    font-family: "Spline Sans", "San-serif";
    color: #222;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: #222;
}

a{
    color: #222;
    text-decoration: none;
    transition: all 0.45;
    font-weight: 500;
}

a:hover{
    color: wheat;
}


section{
    padding: 120px;
}

#nav .btn{
    color: black;
    background-color: rgb(255, 255, 255);
}

#nav .btn:hover{
    color: black;
    background-color: wheat;
}

#home{
    background:  linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url('image/home2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

#home .btn{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: solid white;
    margin: 10px;
}

#home .btn:hover{
    color: black;
    background-color: wheat;
}
/* home end */

/* features */
#mycontainer{
    display: flex;
    flex-direction: column;
    margin-top: 40px
}

#mycontainer img{
    width: 100%;
    height: 250px;
}

#mycontainer .btn{
    color: wheat;
    background-color: black;
    border-radius: 8px;
    border: solid white;
}
#mycontainer .btn:hover{
    color: black;
    background-color: wheat;
}
#features{
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}
/* features end */

/* about */
#about{
}
#about::before{
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#about h1{
    color: black;
}
#About{
    width: 100%;
    height: 97%;
    padding-right: 5%;
}

#about .btn{
    color: wheat;
    background-color: black;
    border-radius: 8px;
    border: solid white;
}
#about .btn:hover{
    color: black;
    background-color: wheat;
}

@media(max-width: 992px){
    #about::before{
     height: 40;
     width: 100%;
    }
}
/* about end */

/* footer */
.footer{
    background-color: black;
}

.footer a{
    color: wheat;
}

.footer a:hover{
    color: wheat;
}
/* footer end */

